/* CSS Document */


body, html {
  height: 100%;
  width: 100%;
	
}

html {
  margin: 0;
  background-size: cover;
  background: url("/img/design/YellowGrad@2RES.png") no-repeat center center fixed;
  background-blend-mode: normal;
  transition: 8s;
}

body {
	overflow: hidden;
	margin: 0
}

#content {
    position: absolute;
	height:100%;
	width:100%;
	z-index: 2;
}
#content .Logotype {
    position: absolute;
    top: 2vw;
    right: 3vw;
	z-index: 5;
	width: 15%;
}
#content .MaintenanceText {
    position: absolute;
    top: 2vw;
    left: 3vw;
	z-index: 5;
	width: 35%;
}

#content .CenterCar {
    width: 100%;
	height:100%;
	object-fit: contain;
	
}
#background {
    position: absolute;
	height:100%;
	width:100%;
	z-index: 1;
}

#background img{
	width: 100%;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
}


.CenterObject {
	position: relative;
	height: 100%;
	width: 100%;
}


.TitleBlock, .CenterText {
   object-fit: scale-down;
   position: absolute;
   top: 0%;
   left: 0%;
   width: 500px;
   height: 3vw;
   margin-top: 0; /* Half the height */
   margin-left: 0; /* Half the width */



@media (max-width: 1600px){
}

@media (min-width: 1200px){
}
