/* CSS Document */


body, html {
  height: 100%;
  width: 100%;
	
}

body {
	overflow: hidden;
	margin: 0
}

.fpbgimg-1 {

  /* The image used */
  background-image: url("/img/design/YellowGrad@2RES.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.CenterObject {
	
	width: 100%;
	height: 100%;
	text-align: center
}
.CenterCar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin: 0;
	height: 100%;
	position: absolute;
	object-fit: scale-down;
}