/* CSS Document */


body, html {
  height: 100%;
  width: 100%;
	
}

body {
	overflow: hidden;
	margin: 0
}

#content {
    position: relative;
}
#content .Logotype {
    position: absolute;
    top: 2vw;
    right: 3vw;
	z-index: 5;
	width: 15%;
}
#content .MaintenanceText {
    position: absolute;
    top: 2vw;
    left: 3vw;
	z-index: 5;
	width: 35%;
}

.fpbgimg-1 {

  /* The image used */
  background-image: url("/img/design/YellowGrad@2RES.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.CenterObject {
	position: relative;
	height: 100%;
	width: 100%;
}
.CenterCar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin: 0;
	height: 100%;
	position: absolute;
	object-fit: scale-down;
}

.TitleBlock, .CenterText {
   object-fit: scale-down;
   position: absolute;
   top: 0%;
   left: 0%;
   width: 500px;
   height: 3vw;
   margin-top: 0; /* Half the height */
   margin-left: 0; /* Half the width */


